<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width,
user-scalable=no, initial-scale=1.0, maximum-
scale=1.0, minimum-scale=1.0">
<title> Index </title>
</head>
<body>
    <h1> Hello Django! <h1>

    <!-- Place where we will display the connection message. -->
    <h2 id="welcome"></h2>
    <h1>Bingo</h1>
    <h2>Ball: <span id="ball"></span></h2>
    <h2 id="ticket"></h2>


    <script>
        // Connect to WebSockets server (BingoConsumer)
        const myWebSocket = new WebSocket("ws://{{request.get_host }}/ws/bingo/");
        let ticket = [];
        // Event when a new message is received by WebSockets
        myWebSocket.addEventListener("message",
            (event) => {
            const myData = JSON.parse(event.data);
            console.log(myData)
            switch (myData.action) {
                case "New ticket":
                // Save the new ticket
                    ticket = myData.ticket;
                // Render ticket
                    document.getElementById("ticket").innerHTML = "Ticket: " + ticket.join(", ");
                case "New ball":
                    ball = myData.ball
                    ticket = ticket.map(item => item === ball ? "X" : item);
                    document.getElementById("ticket").innerHTML = "Ticket: " + ticket.join(", ");
                    document.getElementById("ball").innerHTML = ball;
                    // Check if we have a winner
                    if (ticket.find(number => number!== "X") === undefined) {
                    // We have a winner
                        document.getElementById("ticket"). innerHTML = "Winner!";
                    }
                break;
            }}
        );
        </script>
</body>
</html>